$theme-red : #b92e34;
$theme-dark : #303d45;
$theme-green: #7fff00;
$ghost-white:rgba(250, 251, 253, 1);

$roboto-header : 'Roboto', sans-serif;
$nunito-text : 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Roboto:300,400,500,700,900&display=swap');


h2{
    color:$theme-dark;
    font-family: $roboto-header;
    font-size:21px;
    margin-bottom: 0px;
} 

*{
    box-sizing: border-box;
}

body,html{
    padding: 0;
    margin: 0;
    background-color:rgba(250, 251, 253, 1);
    width:100%;
    height:100%;
}
.modal-content{
    width:100%;
    height:100%;
    display: none;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    z-index: 9999;
    .inn{
        background-color: #fff;
        height:500px;
        float: right;
        width:80%;
        padding: 20px 0px;
    }

    .cancel{
        height:30px;
        width:100%;
        padding: 10px 30px 30px 0;
        .fa-times{
            font-size:20px;
            float: right;
            
        }
    }
    

    ul{
        margin: auto;
        padding:0;
       // text-align: center;
        li{
            list-style: none;
            padding: 15px 30px;;
            border-bottom:1px solid #f7f7f7;
            a{
                color: #444444;
            }
        }
    }
}

section{
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/campaign/cover.jpg);
    background-position: center;
    background-size:cover;
    position: relative;

    header{
        width:100%;
        height:80px;
        //background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4));
        padding:15px 80px 0 80px;
        .logo{
            float:left;
            margin-top:10px;
            font-size:20px;
            color:#fff;
            font-family: $roboto-header;
            margin-left:25px;
        }
        ul{
            float:right;
            padding-top: 10px;
            font-family: $nunito-text;
            li{
                list-style: none;
                float:left;
                margin-right: 35px;;
                a{
                    color:#fff;
                    font-size:14px;
                    transition: 0.2s ease-in-out;
                    font-weight:600;
                }
                a:hover{
                    text-decoration: none;
                    color:$theme-red;
                }
            }
        }
        i{
            float: right;
            display: none !important;
        }

    }
    @media only screen and (max-width:320px){
       .top-header{
           .col-md-2,.col-md-3,.col-md-4{
               display: none;;
           }
       }
       header{
           ul{
               display: none;
           }
           i{
            display: block !important;
            margin-right:30px;
            margin-top:15px;
            font-size:16px;
            cursor: pointer;
        }
       }
        
         
    }
    

    @media only screen and (min-width:321px) and (max-width:540px){
        .container{
            padding:0 30px;
        }
        .top-header{
            .col-md-2,.col-md-3,.col-md-4{
                display: none;;
            }
        }
        header{
            img{
                margin-left:15px;
            }
            ul{
                display: none;
            }
            i{
                display: block !important;
                margin-right:20px;
                margin-top:15px;
                font-size:20px;
                cursor: pointer;
            }
        }
         
    }
    @media only screen and (min-width:541px) and (max-width:720px){
        .container{
            padding:0 50px;
        }
        .top-header{
            .col-md-2,.col-md-3,.col-md-4{
                display: none;;
            }
        }
        header{
            img{
                margin-left:15px;
            }
            ul{
                display: none;
            }
            i{
                display: block !important;
                margin-right:20px;
                margin-top:15px;
                font-size:20px;
                cursor: pointer;
            }
        }
    }
    @media only screen and (min-width:721px) and (max-width:1024px){

    }

    .caption{
        color:#fff;
        padding-top: 200px;
        text-align: center;
        .caption_text{
            width:100%;
            font-family: $roboto-header;
            text-align: left;
        }
        img{
            margin-top: 170px;;
            width:25px;
            height:40px;
            cursor: pointer;
        }
        
        h1{
            font-weight: 500;
            font-size:31px;
            width:70%;
        }
       
        @media only screen and (max-width:320px){
            padding-top:20px;
            .caption_text{
                width:95%;
                margin-top:60px;
                //padding-left:20px;
            }
            h1{
                font-size:25px;
            }
            p{
                font-size:13px;
            }
        }

        @media only screen and (min-width:321px) and (max-width:540px){
            padding:0px 30px;
            .caption_text{
                width:95%;
                margin-top:90px;
                //padding-left:20px;
            }
            h1{
                font-size:25px;
            }
            p{
                font-size:13px;
            }
        }
        @media only screen and (min-width:541px) and (max-width:720px){
            padding-top:25px;
            padding:0px 50px;
            .caption_text{
                width:95%;
                margin-top:150px;
                //padding-left:20px;
            }
            h1{
                font-size:25px;
            }
            p{
                font-size:13px;
            }
        }

    }
    
}

.what-we-offer{
    padding-top:40px;
    margin-top: 50px;
    .text{
        height:50px;
        h2{
            color:$theme-dark;
            font-weight: 700;
            font-family: $roboto-header;
            font-size:21px;
            margin-bottom: 0px;
        } 
        p{
            font-family: $nunito-text;
        }
    }
    .row{
        margin-top:60px;
        .col-md-4{
            .offer{
                height:300px;
                text-align: center;
                h5{
                    font-size:18px;
                    margin-top:10px;

                }
                p{
                    font-size:14px;
                    font-family: $nunito-text;
                }
            }
        }
    }
}

.project{
    padding-bottom: 50px;
    .heade{
        width:100%;
        height:50px;
        h2{
            float:left;
            font-size:21px;
            font-weight: 600;
            font-family: $roboto-header;
        }
        a{
            color:$theme-red;
            h3{
                float:right;
                font-size:12px;
                margin-top:5px;
            }
        }
    }
    .row{
        .col-md-4,.col-md-3{
            .project-content{
                //border:1px solid #BFBFBF;
                height:400px;
                background-color: #fff;
                //border-radius:5px;
                box-shadow: 0 3px 5px rgba(0,0,0,0.1) ;
                font-family: $nunito-text;
                .image{
                    background-image:url("images/Rectangle\ 5.png");
                    height:300px;
                    background-size:cover;
                }
                .texted{
                    padding:15px;
                    p{
                        font-size:14px;
                        margin-bottom:0;
                    }
                    span{
                        color:$theme-red;
                    }
                }
            }
        }
    }
    .nex{
        margin-top:30px;
    }
}
 
.brand{
    background-color: transparent;
    width:100%;
    height:400px;
    h2{
        font-size:20px;
    }
    .slide{

        width:60px;
        height:60px;
        img{
            height:60px;
            width:60px;
        }
    }
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
}

.contact{
    .container{
        margin-top: 40px;;
        h2{
            margin: 15px 0;
        }
        .row{
            .col-md-6{
                .image{
                    height:400px;
                    width:100%;
                    background-image:url(images/contact.png);
                    background-position: center;
                    background-size:cover;
                }
            }
        }
    }
}

footer{
    width:100%;
    height:auto;
    background-color: #000;
    font-family: $nunito-text;
    padding: 60px 0 30px 0;
    .container{
        h2{
            font-size:35px;
            margin-bottom: 15px;
            color:$ghost-white;
        }
        .row{
            .col-md-7{
                input{
                    width:100%;
                    height: 55px;
                    background-color:$ghost-white ;
                    border:none;
                    padding-left: 15px;
                }
                ::placeholder{
                    font-size:15px;
                    font-weight: 500;
                }
            }
            .col-md-5{
                a>button{
                    height:55px;
                    width:40%;
                    background-color: $theme-red;
                    color:#fff;
                    transition: 0.2s ease-in-out;
                    border:none;
                }
                button:hover{
                    color:$theme-red;
                    border:2px solid $theme-red;
                    background-color: transparent;
                }
            }
        }
    }
    .contact-info{
        border-top:1px solid rgba($ghost-white,0.3);
        width:100%;
        height:200px;
        color:$ghost-white;
        padding-top: 50px;
        margin-top: 60px;
        .container{
            h3{
                font-size:30px;
                font-weight: 700;
            }
            .row{
                .col-md-6{
                    h3{
                        font-size:17px;
                        margin-bottom: 0;
                    }
                    a{
                        font-size:18px;
                        color:$theme-dark;
                        font-weight: 700;

                    }
                    .social-media{
                        margin-top: 15px;
                        i{
                            color:$ghost-white;
                            font-size:20px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

.active{
    color:$theme-red;
    font-weight: 700;
}

//PROJECTS
.header{
    width:100%;
    height:70px;
    background:$theme-dark;
    padding:15px 80px 0 80px;
    .logo{
        float:left;
        margin-top:10px;
        font-size:20px;
        color:#fff;
        font-family: $roboto-header;
        margin-left:25px;
    }
    ul{
        float:right;
        padding-top: 10px;
        font-family: $nunito-text;
        li{
            list-style: none;
            float:left;
            margin-right: 35px;;
            a{
                color:#fff;
                font-size:14px;
                transition: 0.2s ease-in-out;
                font-weight:600;
            }
            a:hover{
                text-decoration: none;
                color:$theme-red;
            }
            .active{
                color:$theme-red;
                font-weight: 700;
            }
        }
    }
    i{
        float: right;
        display: none !important;
    }

}
.project-page{
    margin-top: 60px;
    @extend .project;
    .heade{
        margin-bottom:15px;
        .container{
            .row{
                .col-md-9{
                    button{
                        background-color: transparent;
                        border: none;
                        font-weight: 600;
                        color:rgba($theme-dark,0.6);
                        margin-left:30px;
                    }
                    button.active{
                        color:$theme-red;
                        border-bottom: 2px solid $theme-red;
                    }
                }
            }
        }
    }
    .row{
        .col-md-3{
            .project-content{
                height: 260px;
                .image{
                    height:200px;
                }
            }
        }
    }
}